

footer{
    min-height: 100px;
    background-color: #1f1e1e;
    color: #dad1d1;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: auto;
    align-items: center;
}


.footer-text > a {
    text-decoration: underline;
    color: #fbaa12;
    background-color: inherit;
}

footer > div{
    color: inherit;
    background-color: inherit;
}
